<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get">
  <div class="ask-coach">
   <label>Ask your coach anything:</label>
   <input type="text" name="question">
   <input type="submit" value="Ask!" class="btn btn-primary" >
  </div>

</form>
